/* 各页面CSS */
.header_wrap, .main_wrap, .w960{width:960px;margin:0 auto;}
.footer_wrap{ position: relative;}
.form_search .submit,.head_user_op .user_name_r,.head_user_op .user_name_r_hov,.album_author .num .likes,.album_author .num .shares{background: url(images/icons.png) no-repeat scroll 0 0 transparent;}
.main_wrap {_padding-left:22px; background: none repeat scroll 0 0 #FFFFFF;border: 1px solid #D5D5D5;margin: 15px auto;padding: 15px;width: 960px;}

/* 页头LOGO */
.header_box {height: 81px;}
.head_logo .logo_b{width:450px;height:81px;display:block;text-indent:-9999px;background:url(images/logo.png) no-repeat 0 0;}
.head_logo .logor {background: url(images/logor.png) no-repeat scroll 0 0 transparent;display: block;float: left;height: 31px;margin-top: 15px;width: 201px;}
.head_user {margin-top: 35px;}

/* 页头登录前 */
.login_mod {
	background: linear-gradient(#FFFCFC, #F3F0F0) repeat scroll 0 0 transparent;
    border: 1px solid #CCCCCC;
	height:32px;
}
.login_mod li {
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #CCCCCC;
	height:32px;
}
.login_mod li a {
	padding:7px;
	position:relative;
}
.login_mod .other_login{text-decoration: underline;color:#FF6699;display:inline-block;}
.login_mod .login_bg{color:#666;display:inline-block;}
.login_mod .login_bg img{float:left;width:16px;height:16px;margin:2px 3px 0 0;}

/* 页头登录后 */
.head_user_op .libg,.head_user_op .msg,.nav_list .top_search .ts_txt,.nav_list .top_search .ts_btn{background:url(images/m_head_bg.png) no-repeat 0 0;}
.head_user_op{float:left;background:none;height:25px;padding:0 7px 0 7px;}
.head_user_op li{line-height:25px;float:left;height:25px;font-weight:bold;background-position: right 5px;padding-right:15px;}
.head_user_op li a{display:inline-block;height:25px;}
.head_user_op .share_btn {background: url(images/pub_btn.png) no-repeat scroll 0 0 transparent;display: block;height: 32px;width: 71px;}
.head_user_op .mb_name {background: url(images/icons.png) no-repeat scroll 83px -225px transparent;font-size: 14px;font-weight: normal;color: #666666;margin-left: 5px;padding: 0 18px 0 0;}
.head_user_op .down_hover .mb_name{background: url(images/icons.png) no-repeat scroll 83px -255px transparent;}
.head_user_op .mb_avt{margin:2px 5px 0 0;height:22px;width:22px;float:left;}
.head_user_op .libg,.head_user_op .li{color:#666;font-size:12px;font-weight:normal;padding:0 0 0 10px;}
.head_user_op .libg{padding:0 0 0 31px;}
.head_user_op .libg span{color:#ff386c;font-size:12px;}
.head_user_op .feed{background-position:-45px -43px;}
.head_user_op .album{background-position:-45px -93px;}
.head_user_op .like{background-position:-45px -143px;}
.head_user_op .msg{background-position:-45px -254px;}
.head_user_op li.my_shotcuts{padding:0; background: none;}

/*个人菜单*/
.s_m {z-index: 999; display: none; top:25px; right:15px;border: 1px solid #DDD;background-color:#FFFFFF;border-radius: 0 0 3px 3px;}
.s_m li{ background: none; font-weight: normal; float: none; padding: 0;}
.s_m li a{white-space:nowrap;display:block;overflow:hidden;font-size:12px;height:26px;line-height:26px;padding:0 10px;}
.s_m li a:hover{background-color:#f7f7f7;color:#FF067C;}
.s_m li a span{ color: red;}
.n_m {right:0; width: 120px;}

/*导航*/
.nav_fixed {position:fixed;z-index:9999;top:0;width:100%;_position:absolute;_top:expression(document.compatMode && document.compatMode=='CSS1Compat' ? documentElement.scrollTop:document.body.scrollTop);}
.nav_bg{background-color: #FEFEFE;background-image: -moz-linear-gradient(center top , #FEFEFE, #F5F5F6);border-bottom: 1px solid #D5D5D5;border-top: 1px solid #D5D5D5;box-shadow: 0 1px 2px rgba(217, 217, 217, 0.9);height: 48px;min-width: 1120px;width: 100%;}
.nav_bg .nav_box{margin: 0 auto;width: 970px;}
.nav_bg .nav_box li{float: left;height: 32px;line-height: 32px;margin-top: 8px;overflow: hidden;}
.nav_bg .nav_box li a{display: block;float: left;font-family: 'microsoft yahei';font-size: 17px;padding: 0 8px;}
.nav_bg .nav_box li a.active{background: url(images/mbtn.png) no-repeat scroll 0 -482px transparent;color: #FFFFFF;margin: 0 5px;padding: 0 14px;}
.nav_bg .nav_box .navi{border-left: 1px solid #E7E7E7;float: left;height: 32px;padding-left: 5px;padding-right: 5px;}
.nav_bg .nav_box .navi dt{float: left;height: 32px;line-height: 32px;}
.nav_bg .nav_box .navi dd{float: left;height: 30px;line-height: 30px;margin-top: 2px;}
.nav_bg .nav_box .navi dd a.active{background: url(images/mbtn.png) no-repeat scroll 0 -482px transparent;color: #FFFFFF;padding: 0 6px;}
.nav_bg .nav_box .navi dd a{font-family: simsun;font-size: 14px;padding: 0 10px;}
.nav_bg .nav_box .navi span{border-left: 1px dashed #C8C8C8;display: block;float: left;height: 16px;margin-top: 8px;width: 1px;}
.nav_bg .nav_box li.search{float: right;margin-right: 7px;}
.form_search{height: 26px;line-height: 26px;margin: 0;position: relative;}
.form_search .text{background-color: #E9E9E9;border: 1px solid #CACACA;line-height: 16px;padding-right: 25px;display: inline-block;padding-left: 12px;height: 23px;width: 150px;color:#999;}
.form_search .submit{background-position: 8px -1325px;border: 0 solid #FFFFFF;cursor: pointer;display: block;height: 26px;position: absolute;right: 0;text-indent: -99999px;top: 0;width: 30px;}

/*尾部*/
.footer_wrap {background: none repeat scroll 0 0 #F6F6F6;border-top: 4px solid #DEDEDE;min-width: 990px;padding: 25px 0;position: relative;}
.footer_links{margin-bottom: 50px;margin-left: auto;margin-right: auto;width: 840px;}
.footer_links dl{float: left}
.footer_links dl dt {background-image: url(images/footer_icons.png);background-repeat: no-repeat;color: #FF3399;font-size: 14px;font-weight: bold;line-height: 20px;margin-bottom: 20px;padding-left: 20px;}
.footer_links dl dd {background: url(images/footer_icons.png) no-repeat scroll 0 -180px transparent;padding-left: 20px;}
.footer_links dl dd a {color: #4B4B4B;}
.ft-find {background-position: 0 -139px;}
.ft-abouts {background-position: 0 -39px;}
.ft-follow {background-position: 0 -89px;}
.ft-flinks{background-position: 0 1px;}
.splendid, .followguangjie {margin-right: 100px;}
.footer_logo{background: url("images/logo2.png") no-repeat scroll 0 0 transparent;display: block;height: 63px;text-indent: -9999px;width: 182px;float: left;margin: 0 25px}
.company {background: none repeat scroll 0 0 #ECECEC;color: #959595;line-height: 35px;margin: 0 auto;text-align: center;width: 960px;}
.company span {margin-right: 20px;}
.copyright {border-right: 1px solid #BFBFBF;padding-right: 15px;}

/*返回顶部*/
.return_top {bottom: 88px;display: none;position: fixed;right: 15px;width: 52px;z-index:999;_top:expression((document.compatMode && document.compatMode=='CSS1Compat' ? documentElement.scrollTop+(documentElement.clientHeight - this.clientHeight):document.body.scrollTop+(document.body.clientHeight - this.clientHeight))-4);}
.return_top .gotop,.return_top .history{background: url(images/gotop.png) no-repeat scroll 0 0 transparent;cursor: pointer;display: block;height: 50px;margin-bottom: 10px;width: 50px;}
.return_top .gotop{background-position: 0 0;}
.return_top .gotop:hover{background-position: 0 -120px}
.return_top .history{background-position: 0 -180px }
.return_top .history:hover{background-position: 0 -300px}

/*用户名片*/
.user_card {position:absolute;width:300px;z-index:1000;display:none;}
.card_loading {margin:8px;background:url(images/loading.gif) no-repeat 8px 4px;padding-left:30px;}
.card_info {background-color: #FFFFFF;border-color: #CCCCCC;border-image: none;border-radius: 5px 5px 0 0;border-style: solid solid none;border-width: 1px;min-height: 101px;}
.card_info p {color: #999999;line-height: 180%;}
.card_info p a span {color: #FF89A7;font-weight: bold;}
.card_info p a:hover span {text-decoration: underline;}
.card_info p img {margin: 0 2px 0 10px;vertical-align: -10%;}
.card_info p a {color: #FF067C;font-weight: bold;}
.card_info .avatar {border-radius: 3px 3px 3px 3px;float: left;height: 60px;margin: 8px 13px 0 8px;width: 60px;}
.card_info .info {padding-top: 8px;position: relative;}
.card_info .intro {clear: both;line-height: 24px;overflow: hidden;padding: 0 10px;text-overflow: ellipsis;white-space: nowrap;width: 270px;word-break: normal;word-wrap: normal;}
.card_toolbar {background-color: #F8F8F8;border-radius: 0 0 5px 5px;border: 1px #CCCCCC solid;border-top: none;color: #111111;height: 34px;line-height: 33px;overflow: hidden;padding-left: 10px;}
.card_toolbar .fo_u_btn {margin: 8px 10px 0 0;}
.card_arrow {background: url(images/card_arrow.png) no-repeat scroll 0 0 transparent;height: 9px;margin-left: 20px;margin-top: -1px;width: 11px;}

/*专辑列表*/
.album_sort { height:21px; line-height:21px; margin:0px;}
.album_list {width: 1000px;}
.album_tag {padding:15px 9px;background:#F7F7F7;margin: 0 10px 20px 6px;overflow:hidden;width:206px;height: 290px;}
.album_tag h3 {color:#777777; font-weight:normal;}
.album_tag .tags {padding:10px 0 0;overflow:hidden;}
.album_tag .tags a {height: 26px;line-height: 26px;padding:0 8px;color: #777; float:left;display:inline;margin:0 5px 13px 0;border: 1px solid #E6E6E6;background: white;border-radius:4px;white-space: nowrap;}
.album_tag .tags a.current {color: #84B041;font-weight: bold;border-color: #C2D5A6;}
.album_item .header{margin: 5px 12px;position: relative;width: 200px;height:23px;overflow:hidden;}
.album_item .header h3{color: #333333;font-family: Tahoma,Helvetica,Arial,sans-serif;font-size: 14px;font-weight: bold;}
.album_item .header h3 i{display: inline-block;margin-bottom: -1px;margin-top: 1px;}
.icon-zhuan{background:url(images/icons.png) no-repeat scroll 0 -1507px transparent;height: 13px;width: 18px;}
.album_item .imgbox{margin-top: 0;transition: opacity 0.5s ease 0s;display: block;margin: 14px 12px 0;position: relative;}
.album_item .imgbox:hover{opacity: 0.7}
.album_item .bottom{color: #999999;margin: 10px 12px;overflow: hidden;}
.album_item .bottom b{display: block;float: left;font-weight: normal;margin-right: 20px;margin-top: 7px;}
.album_item .bottom b i{display: inline-block;margin-bottom: -1px;margin-left: 5px;}
.ico-share,.ico-masters{background: url(images/icons.png) no-repeat scroll transparent}
.ico-share {background-position: 0 -1355px;height: 11px;width: 14px;}
.ico-masters {background-position: 0 -842px;height: 13px;width: 13px;}

.followbox{background-color: #F5F5F5;margin: 0 12px;border-color: #DEDEDE;border-style: solid;border-width: 1px 0;margin-bottom: 0;overflow: hidden;padding: 2px 0 4px;text-align: center;}
.follow .fbtn{background: url(images/mbtn.png) repeat scroll 0 -1021px transparent;border: medium none;color: #333333;cursor: pointer;display: inline-block;overflow: hidden;}

.follow .fbtn b{background: url(images/mbtn.png) repeat scroll right -398px transparent;float: left;font: 12px Arial,Helvetica,sans-serif;height: 16px;margin-left: 10px;padding: 8px 16px 8px 5px;}
.follow .fbtn b i{float: left;margin-right: 5px;vertical-align: middle;}
.follow .fbtn:hover{background: url(images/mbtn.png) no-repeat scroll 0 -980px transparent;}
.follow .fbtn:hover b{background: url(images/mbtn.png) no-repeat scroll right -305px transparent;}
.ico-follow{background:url(images/icons.png) 0 -579px;height: 10px;margin: 3px 4px 2px 0;width: 16px;}
.follow .fbtn:hover .ico-follow{background-position: 0 -599px;}
.follow p{line-height:32px;height:32px;white-space:nowrap;word-wrap:normal;word-break:normal;text-overflow:ellipsis;-o-text-overflow:ellipsis;overflow:hidden;margin-right:50px;font-size: 16px}
.follow p span{color:red}
.ico-followed{background:url(images/icons.png) 0 -599px;height: 10px;margin: 3px 4px 2px 0;width: 16px;}
.album_item .edit {display:block;width: 207px;height: 40px;position: absolute;top: 1px;left: 1px;background-color: rgba(0, 0, 0, 0.5);
                   filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#7F000000,endcolorstr=#7F000000);}

.album_item .edit {width: 200px;height: 40px;position: absolute;top:40px;left: 12px;background-color: rgba(0, 0, 0, 0.3);
                   filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#7F000000,endcolorstr=#7F000000); display: none;}
.album_item .edit .add {background:url(images/user_icon.png) 0 -400px no-repeat;height:23px;width:80px;float:left;display:inline;margin: 8px 45px 0 9px;text-align:center;line-height:23px;color:#333333;}
.album_item .edit a {color: white;line-height: 40px;margin: 0 3px;}
.album_item h4 {padding: 6px 10px 0;margin: 0 0 4px 0;color:#666;font-size: 14px;line-height: 20px;height: 20px;overflow: hidden;}
.album_item h4 a {color:#666;}
.album_item .num {padding: 0 10px;color: #999;line-height: 18px;height: 18px;overflow: hidden;float: none;}
.album_item .num a {color: #999;}
.album_item .num a:hover {text-decoration:underline;color: #87B32E;}
.album_item .add_album {width:80px;display:block;margin:107px auto 0;text-align:center;}

/*分类页面*/
.book_cate {background:none repeat scroll 0 0 #F8F8F8;display:block;}
.bcate_warp {border-bottom: 1px solid #D3D3D3;}
.bcate_warp dl {
    padding: 5px;
    border-top: 1px dotted rgb(204, 204, 204);
    overflow: hidden;
    line-height: 24px;
}
.bcate_warp dt {
    float: left;
    width: 100px;
    padding-right: 10px;
    font-weight: bold;
    text-align: left;
    color: rgb(204, 0, 0);
}
.bcate_warp dt a{
    color: rgb(255, 102, 153);
}
.bcate_warp dd {
    float: left;
    width: 800px;
}

.bcate_warp dl em {
    float: left;
	line-height: 24px;
	margin: 4px 0px;
	line-height: 14px;
	padding: 0px 8px;
	border-left: 1px solid rgb(204, 204, 204);
}

.bcate_warp dd a {
    white-space: nowrap;
    margin-right: 16px;
}

.bcate_warp dd em a.current { color: rgb(255, 102, 153); font-weight: bold;}
.bcate_warp dd em a:hover{color:rgb(255, 102, 153);text-decoration:underline;}
.bcate_warp .normalcate{background: none repeat scroll 0 0 #FBFBFB;color: rgb(204, 102, 153);}
.bcate_warp .normalcate:hover{border-color: #ACACAC;box-shadow: 1px 1px 2px #ACACAC;color: rgb(255, 102, 153);}
.bcate_warp .normalselect{background: none repeat scroll 0 0 #FF0066;border-color: #FF0066;box-shadow: 1px 1px 2px #FF0066;color: #FFFFFF;}


.bcate{border-bottom: 1px solid #D3D3D3;height: 49px;}
.bcate span {display:inline-block;height:20px;line-height:20px;margin:16px 7px 0 19px; padding: 0 5px; text-align:center;position:relative;}
.bcate span a {color:#787878;font-size:14px;font-weight:bold;}
.bcate span.current{background: none repeat scroll 0 0 #FF067C;}
.bcate span.current a{color: #FFFFFF;}
.bcate span.current b {background:url(images/bcate_arrow.png) no-repeat transparent;height:8px;position:absolute;top:26px;left:36%;width:13px;}
.scate{position:relative; padding:0 5px;}
.scate li{float:left;padding:20px 15px;width:160px;}
.scate .scate_title{margin:0 0 5px 0;font-weight:700;display:block;font-family:Georgia;color:#444;font-size:14px;white-space:nowrap;color:#8FC63B;}
.scate .list_w p{line-height:22px;}
.scate p span{padding:0 8px 0 0;white-space:nowrap;color:#666;}
.scate p span a{color:#888;padding:1px 0 2px;line-height:22px;}
.scate p span a.current { color: #87BD34; font-weight: bold;}
.scate p span a:hover{color:#87BD34;text-decoration:underline;}
.scate .list_w span{width:45px;display:inline;float:left;word-wrap:normal;height:22px;line-height:22px;vertical-align:top; overflow:hidden;}

/*瀑布流*/
.wall_page{display:none;background: none repeat scroll 0 0 white;margin: 0 auto;}
.wall_wrap{position: relative;}
.wall_loading {background: black;opacity:0.5;filter:alpha(opacity=50);color: white;border-radius:16px;text-align: center; width: 100px; display: none; bottom: 0px; position: absolute; left: 50%; margin-left: -50px;bottom: 10px}
.wall_loading span { background: url(images/loading.gif) no-repeat scroll 0 center transparent; padding-left: 24px; color: white; height: 30px; line-height: 30px;}
.wall_container {background-color: #FFFFFF;border-color: #D7D7D7 #D7D7D7;border-image: none;border-style: solid solid none;border-width: 1px 1px medium;padding-bottom: 40px;min-height:500px;position:relative;}
.wall_item,.cate_wall,.search_tagbox,.search_userbox,.album_item,.profile-brick{float:left;width:224px;margin:13px 0 0 12px;overflow:hidden;border: 1px solid #F7F7F7;position: relative}
.wall_item {
    background-color: #F7F7F7;
    border: 1px solid #F7F7F7;
}
.wall_item:hover,.album_item:hover{border: 1px solid #D2D2D2;box-shadow: 0 0 2px #D2D2D2;}
.wall_item:hover .border{background-color: #fff}
.wall_item .pic{padding:8px 0; background-color: #FFFFFF;}
.wall_item .pic li{text-align:center;position:relative;overflow:hidden;}
.wall_item .pic li img{vertical-align:top;width:210px;}
.wall_item .pic li .p {position: absolute;right: 10px;bottom: 3px;line-height: 20px;color: rgb(255, 255, 255);font-family: Tahoma;padding: 0px 7px;background: none repeat scroll 0% 0% rgba(51, 51, 51, 0.6);}
.wall_item .oper{height: 35px;margin: 0 7px 7px 2px;position: relative;}
.wall_item .oper .stat{float: left;height: 35px;overflow: hidden;position: relative;width: 180px;z-index: 2;}
.wall_item .oper .stat div{margin-left: 12px;}
.like_wall,.comment_wall{float: left;line-height: 35px;}
.wall_item .oper .stat .like{background: url(images/operate.png) no-repeat scroll 0 -115px transparent;float: left;height: 34px;width: 68px;}
.wall_item .oper .stat .like:hover{background-position: 0 -203px}
.wall_item .oper .stat .liked{background: url(images/operate.png) no-repeat scroll 0 -247px transparent;float: left;height: 35px;width: 80px;}
.wall_item .oper .stat .comment{color: #FF3399;font-size: 12px;font-weight: bold;}
.wall_item .oper .avatar{float: right;margin-top: 2px;}
.wall_item .oper .avatar img{opacity: 0.6;}
.wall_item .oper .avatar img:hover{opacity: 1;}
.wall_item .intro {line-height: 16px;margin: 5px 12px;overflow: hidden;word-break: break-all;word-wrap: break-word;}
.wall_item .comment_hot_list .action{background-color: #F3F3F3;border-top: 1px solid #DEDEDE;color: #999999;line-height: 14px;margin: 0 6px;overflow: hidden;padding: 10px;position: relative;}
.wall_item .comment_hot_list .avatar{float:left}
.wall_item .comment_hot_list .avatar img{opacity: 0.6}
.wall_item .comment_hot_list .avatar img:hover{opacity: 1}
.wall_item .comment_hot_list p{float: right;line-height: 13px;width: 145px;word-break: break-all;word-wrap: break-word;}
.wall_item .border,.profile-brick .border{background-color: #D2D2D2;clear: both;height: 1px;margin: 0 6px;overflow: hidden;}
.wall_item .del_item { background: url(images/del_icon.png) no-repeat scroll 0 0 transparent; display: none; position: absolute; height: 19px; width: 19px; left: 15px; top: 15px; z-index: 9999;}

/*商品列表排序*/
.cate-content {margin: 10px auto 0;}
.cate_sort {background-color: #F8F8F8;border-color: #D7D7D7 #D7D7D7;border-image: none;border-style: solid solid none;border-width: 1px 1px medium;margin: 0 auto;overflow: hidden;padding: 12px 0;}
.cate_sort h1 {color: #FF2F91;float: left;font-size: 20px;font-weight: normal;line-height: 30px;margin: 0 200px 0 20px;}
.cate_sort .sort{border-right: 1px solid #D7D7D7;}
.cate_sort strong{font-size: 14px;}
.cate_sort a,.cate_sort strong{display: block;float: left;line-height: 30px;padding: 0 13px;}
.cate_sort a.active{background-color: #FF067C;color: #FFFFFF;cursor: default;}

/*用户列表*/
.people_list {margin:0 10px 25px 15px;}
.people_list li {border-bottom: 1px solid #F2F2F2;padding:20px 0 20px 3px;position:relative;min-height:60px;_height:60px;}
.people_list .people_info {margin-left:60px;width:450px;}
.people_list .people_info .n {font-weight:bold;}
.people_list .people_info a {font-size:12px;}
.gc, .bc, .nc {color: #FF86B6!important;}
.people_list .people_info span {line-height:28px;color:#666;margin-right:20px;}
.people_list .people_info p {color:#8C8C8C;line-height:18px;overflow:hidden;}
.people_list .people_info p a {color:#09e;}
.people_list .people_info p a:hover {color:white;background-color:#09E;}
.people_toolbar {position:absolute;right:0;top:15px;width:115px; text-align: right;}
.people_list .people_toolbar .add_ok, .unfo .add_ok {color:#888;display:inline-block;}
.people_list .people_toolbar .unfollow, .unfo .unfollow {border-left:1px solid #BDE069;padding-left:5px;height:12px;color:#690;}


/*发现页面*/
.cate_wall div{margin: 0 12px 10px;overflow: hidden;position: relative;}
.cate_wall strong{color: #999999;display: block;font-size: 14px;font-weight: bold;margin: 5px 0 15px;}
.cate_wall a{display: block;float: left;font-size: 12px;font-weight: normal;margin: 0 10px 10px 0;padding: 1px 6px;word-break: keep-all;word-wrap: normal;border-radius: 5px;box-shadow: 1px 1px 2px #DBDBDB;border: 1px solid #DBDBDB;}
.cate_wall div div a{display: block;float: left;font-family: 'microsoft yahei';font-size: 17px;padding: 0 0px;border-radius: 0px;box-shadow: 0px 0px 0px #fff;border: 0px solid #DBDBDB;}
.cate_wall .hotcate{background: none repeat scroll 0 0 #FFF7FA;color: #FF65AD;}
.cate_wall .normalcate{background: none repeat scroll 0 0 #FBFBFB;color: #666666;}
.cate_wall .normalcate:hover{border-color: #ACACAC;box-shadow: 1px 1px 2px #ACACAC;color: #666666;}
.cate_wall .hotcate:hover{background: none repeat scroll 0 0 #FFC7C7;border-color: #ACACAC;box-shadow: 1px 1px 2px #ACACAC;color: #FF65AD;}
.cate_wall .border,.search_userbox .border{background-color: #D2D2D2;clear: both;height: 1px;margin: 0 12px;overflow: hidden;}
.cate_wall .hotselect,.cate_wall .normalselect{background: none repeat scroll 0 0 #FF0066;border-color: #FF0066;box-shadow: 1px 1px 2px #FF0066;color: #FFFFFF;}

/* 分类标签 */
.wall_tag {padding:15px 13px; float: left; background:#F7F7F7;margin: 0 18px 20px 0;overflow:hidden;width:200px;box-shadow: 0 1px 3px rgba(34, 25, 25, 0.2);}
.wall_tag h3 {color:#777777; font-weight:normal;}
.wall_tag .tags {padding:10px 0 0;overflow:hidden;}
.wall_tag .tags a {height: 26px;line-height: 26px;padding:0 8px;color: #777; float:left;display:inline;margin:0 7px 13px 0;border: 1px solid #E6E6E6;background: white;border-radius:4px;white-space: nowrap;}
.wall_tag .tags a.current {font-weight: bold;background: none repeat scroll 0 0 #FF0066;border-color: #FF0066;box-shadow: 1px 1px 2px #FF0066;color:#FFFFFF;}

/*搜索*/
.search_top{ border: 1px solid #DFDFDF;}
.search_top_left { float: left; padding: 15px 60px 25px 35px;}
.search_tab a { background: url(images/search_top_bg.png) no-repeat scroll 0 0 transparent; color: #FF067C; display: block; float: left; font-size: 14px;height: 32px; line-height: 32px; margin-right: 3px; text-align: center; width: 83px;}
.search_tab .current { background-position: 0 -32px; color: #FFFFFF; font-weight: bold;}
.search_form_box .search_input { border: 1px solid #BBBBBB; float: left; height: 30px; line-height: 30px; padding: 0 5px; width: 500px;}
.search_btn { background: url(images/search_btn_green.png) no-repeat scroll 0 0 transparent; border: medium none;color: #FFFFFF; float: left; font-size: 14px; height: 32px; line-height: 32px; width: 77px;}
.my_search_history { float: left; padding: 15px 10px 25px 0; position: relative; width: 250px;}
.my_search_history .my_last_search { font-size: 14px; font-weight: normal; line-height: 26px;}
.my_search_history .clear_history { color: #999999; position: absolute; right: 10px; top: 19px;}
.clear_history{background: url(images/icons.png) no-repeat scroll 0 -412px transparent;position: absolute;top:3px;left:510px;display: block;width: 16px;height: 16px;padding: 0}
.history_list li{ float: left; margin-right: 20px;}
.history_list a { color: #FF067C; line-height: 24px;}
.search_user_box { border: 1px solid #DFDFDF; min-height: 600px; padding: 0 35px;}
.search_user_title { border-bottom: 1px solid #F2F2F2; color: #727763;font-family: 'Microsoft Yahei'; font-size: 20px; line-height: 50px;}
.search_result_none { height: 400px; line-height: 30px; margin: 20px 30px; width: 920px;}
.search_result_none h1 { color: #727763; font-size: 24px;}

/*注册协议*/
.dialog_protocol {padding:12px; width: 500px; height: 280px;word-wrap: break-word; overflow-y: scroll;}

/*弹窗登陆*/
.dialog_login {padding:5px 12px 20px 12px; width: 500px;}
.dialog_login .login_form {float: left;padding: 10px 25px 5px 10px;width: 280px;}
.dialog_login .login_form a {color: #8E8E8E;padding-left: 12px;}
.dialog_login .login_fail {color: #FE2617; padding-left: 65px; padding-top: 10px; visibility: hidden; width: 240px;}
.dialog_login .login_form dd {float: left;line-height: 26px;text-align: right;vertical-align: middle;width: 55px;}
.dialog_login .login_form dt {color: #666666;height: 26px;margin-bottom: 15px;}
.dialog_login .login_form dt .text {border: 1px solid #C8C8C8;height: 24px;padding: 0;width: 215px;}
.dialog_login .login_form dt .checkbox {height: 14px;margin-right: 4px;vertical-align: middle;}
.dialog_login .login_form .login_btn {height: 29px;width: 84px; font-size: 14px;}
.dialog_login .reg_or_oauth {border-left: 1px solid #C8C8C8;display: inline-block;padding-left: 20px;width: 150px;}
.dialog_login .reg_or_oauth span{ color: #666666;}
.oauth_list a {display: inline-block; height: 16px; line-height: 16px;margin-top: 12px; color: #666666;}
.oauth_list a img {float: left; height: 16px; margin-right: 3px; width: 16px;}

/*弹窗分享宝贝*/
.dialog_share_item{padding:12px;}
.dialog_share_item .si_url {background-color: #FFFFFF;border: 1px solid #CFCFCF;color: #BBBBBB;font-size: 14px;height: 22px;line-height: 22px;padding: 2px 5px;width: 340px; margin-right: 5px;}
.dialog_share_item .support_site {margin-top: 23px;width: 425px;}
.dialog_share_item .support_site .title {color: #333333;}
.dialog_share_item .support_site .support_list {margin-top: 10px;}
.dialog_share_item .support_site .support_list a {color: #999999;display: inline-block;margin-right: 10px;}

.dialog_fetch_item{padding:12px;}
.dialog_fetch_item .item_img {border: 1px solid #E9E9E9;padding: 3px;}
.dialog_fetch_item img {height: 142px;overflow: hidden;width: 142px;}
.dialog_fetch_item .item_info{ margin-left: 12px;}
.dialog_fetch_item .item_info .item_title {background: none repeat scroll 0 0 #F5F5F5;color: #999999;height: 30px;line-height: 30px;margin-bottom: 20px;padding: 0 10px; width:330px;text-overflow:ellipsis; white-space:normal; *white-space:nowrap; overflow:hidden; }
.dialog_fetch_item .item_info .item_title .p {color: #FF74A9;font-family: 'MicroSoft Yahei';font-size: 16px;margin-right: 8px;}
.dialog_fetch_item .item_content { width:400px;}
.dialog_fetch_item .item_content .item_intro {background-color: #FFFFFF;border: 1px solid #CFCFCF;color: #BBBBBB;height: 53px;overflow: hidden;padding: 2px 5px;resize: none;width: 310px;}
.dialog_fetch_item .item_content .pub_btn {background: url(images/pub_btn_bg.gif) no-repeat;border: medium none;cursor: pointer;height: 59px;text-indent: -999em;width: 71px;}

/*弹窗创建专辑*/
.dialog_create_album{padding:12px;}
.dialog_create_album dl{margin: 0 0 10px;overflow: hidden;}
.dialog_create_album dt{float: left;font-size: 14px;height: 26px;line-height: 26px;text-align: right;width: 95px;}
.dialog_create_album dd{float: left;line-height: 26px;width: 400px;}
.dialog_create_album .album_title{width:250px;}
.dialog_create_album .album_intro{height:68px;overflow-y:auto;width:320px}
.dialog_create_album .banner_preview img{ height: 46px;}

/*弹窗添加到专辑*/
.dialog_join_album{padding:12px;}
.dialog_join_album .join_item{background:#FFFFFF;border:1px solid #8ABD0F;width:100px;height:100px;position:absolute;padding:3px;}
.dialog_join_album .join_item img{width:100px;height:100px;}
.dialog_join_album .join_content{ padding-left:122px;}
.dialog_join_album .join_intro{width:310px;height:70px;}

/*选择专辑*/
.select_album .qcreate{display:none;height: 32px}
.select_album .qc_title{height:20px;line-height:20px;margin-top: 6px}
.select_album .qc_cate{ margin-top: 8px;}
.select_album .qc_btn{}

/*弹窗转发微博*/
.dialog_topic_forward {padding:10px 20px;}
.dialog_topic_forward .fw_root {line-height: 160%;}
.dialog_topic_forward .fw_content {border: 1px solid #C8C8C8;height: 78px;overflow: hidden;padding: 0 5px;width: 400px;}
.dialog_topic_forward .fwpa_tool {height: 30px;line-height: 30px;text-align: right;}
.dialog_topic_forward .fw_submit_box { padding: 15px 0 10px;}

/*关于我们*/
.about {}
.about_top { border-bottom: 1px #FF067C solid;}
.about_nav { padding-left: 50px;}
.about_nav li{ float: left; margin-right: 20px; background: none repeat scroll 0 0 #ebebeb; border-radius: 3px 3px 0 0;}
.about_nav li a{ display: inline-block; height: 30px; line-height: 30px; padding: 0 20px; color: #666666; font-size: 14px; font-weight: 700; font-family: "微软雅黑";}
.about_nav li.current{ background-color: #FF067C;}
.about_nav li.current a{ color: #FFFFFF;}
.about_content {padding: 45px 55px;}

/*单页*/
.one_page {background: none repeat scroll 0 0 #FFFFFF;overflow: hidden;padding: 20px 40px; background-color:#f9f9f9;}
.one_page h2 {border-bottom: 1px dotted #D1D1D1;font-size: 16px;padding-bottom: 10px;color: #5A6243;}

/*友情链接*/
.flink_list h3 { font-size: 14px; padding: 20px 0 15px; color: #5A6243;}
.flink_list li { display: inline; float: left; line-height: 18px; margin-bottom: 20px; width: 140px;}
.flink_list li a { color: #8FC63B;}
.flink_list li a:hover{ text-decoration: underline;}

/*分页*/
.page_bar {height: 44px;line-height: 44px;text-align: center;overflow: hidden;zoom: 1;clear: both;}
.page_bar a, .page_bar span, .page_bar i {display: inline-block;margin: 0 1px;white-space: nowrap;min-width: 12px;_width: 12px;height: 22px;line-height: 22px;color: white;background-color: #87BD34;text-align: center;-moz-border-radius: 3px;-khtml-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;font-weight: bold;padding: 0 5px;}
.page_bar a {min-width: 20px;height: 30px;line-height: 30px;}
.page_bar span.current {border: none;color: #87BD34;background-color: transparent;}
.page_bar i { background-color: transparent; color: #AAAAAA; font-style: normal; min-width: 10px; padding: 0;}
/*wall-分页*/
.wall_page_box .bg{display: inline-block;vertical-align: bottom;}
.wall_page_box {background: url(images/bg-pager.png) no-repeat scroll center bottom transparent;border-left: 1px solid #D7D7D7;border-right: 1px solid #D7D7D7;font-size: 22px;height: 36px;line-height: 36px;padding: 10px 0 105px;text-align: center;}
.wall_page_left{background: url(images/bg-pager-left.png) no-repeat scroll 0 0 transparent;height: 36px;width: 105px;}
.wall_page_right{background: url(images/bg-pager-right.png) no-repeat scroll 0 0 transparent;height: 36px;width: 185px;}
.wall_page_box a, .wall_page_box span, .wall_page_box i {background-color: #FFE1EA;border-radius: 4px 4px 4px 4px;color: #FF6699;display: inline-block;margin-left: 5px;padding: 0 13px;}
.wall_page_box a:hover, .wall_page_box a:active {background-color: #FFBCDE;}
.wall_page_box span.current {background-color: #FFE1EA;color: #000000;}
.wall_page_box i { background-color: transparent; color: #AAAAAA; font-style: normal; min-width: 10px; padding: 0;}

/*按钮*/
.fo_u_btn, .fo_u_ok, .fo_u_all {background: url(images/fav_btn_bg.png) no-repeat scroll left -37px transparent;padding: 0 6px 0 20px;height: 18px;line-height: 18px;}
.fo_u_btn {display: inline-block; color: #FFFFFF;}
.fo_u_ok { background-position: left -63px; padding-left: 16px; color: #666666; display: inline-block;}
.fo_u_all{ background-position: left -84px; padding-left: 16px; color: #666666; display: inline-block;}


/*添加专辑*/
.addalbum_btn {background: url(images/operate.png) no-repeat scroll 0 0 transparent;bottom: 6px;display: none;font-weight: bold;height: 29px;left: 18px;letter-spacing: 1px;line-height: 29px;position: absolute;text-align: center;text-indent: -9999px;width: 97px;z-index: 10;}
.addalbum_btn:hover{background-position: 0 -76px}
